.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

canvas#canvas{
  border: solid 2px black;
  position: absolute;
  top: 0;
  left: 0;
}

div.Game{
  position: relative;
  min-width: 804px;
  min-height: 610px;
}

/* ~~~~~~~~~~~ LOGIN ~~~~~~~~*/
div.login{

}
/* ~~~~~~~~~~~ LEADERBOARD ~~~~~~~~*/

.hidden{
  opacity: 0;
}

div.leaderboard{
  position: absolute;
  top: -100%;
  width: 100%;
  height: 100%;
  transition: top 0.4s;
  z-index: 2;
}

h3 {
  font-family: 'Press Start 2P', cursive;
  color: red;
}

ul.leaderboard{
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  text-align: center;
  list-style: none;
  padding: 0px;
  width: 100%;
  max-width: 800px;
  margin-left: 15px;
  column-gap: 0px;
  -webkit-column-gap: 0px; /* Chrome, Safari, Opera */
  -moz-column-gap: 0px; /* Firefox */

  font-family: 'Press Start 2P', cursive;
}

ul.leaderboard li{
  line-height: 2em;
  border: solid purple 2px;
  margin-bottom: 4px;
  border-radius: 6px;
  font-size: 1.4em;
}

ul.leaderboard li.name{
  margin-left: 20%;
  width: 100%;
  border-right: none;
  color: green;
}
ul.leaderboard li.score{
  /*text-align: left;*/
  width: 80%;
  border-left: none;
  margin-left: -4px;
  color: yellow;
}
